@import url('https://fonts.googleapis.com/css2?family=Taprom&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import "tailwindcss";

.tampron {
  font-family: 'Taprom', sans-serif;
}

.funnel-display {
  font-family: 'Funnel Display', sans-serif;
}

html, body, #root { height: 100%; }
body { @apply bg-black text-white; font-family: 'Funnel Display', sans-serif; }
.container-af { @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8; }
.bg-card { @apply bg-zinc-900/60 border border-zinc-800 rounded-2xl; }

*::-webkit-scrollbar{
  display: none;
}